@font-face {
    font-family: "Microsoft YaHei";
    src: url('./msyh.ttc');
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    outline: none;
    font: .24rem 'Microsoft YaHei', 'Arial', 'Sumsun', 'Helvetica';
}

ul li {
    list-style: none;
}

body {
    font: .19rem 'Microsoft YaHei', 'Arial', 'Sumsun', 'Helvetica';
    width: 100%;
}

div.title {
    display: flex;
    /* box-sizing: border-box; */
    /* width: 100%; */
    overflow: hidden;
    height: 25px;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 8px;
}

.left {
    flex: 0 0 25px;
}

.left img {
    width: 100%;
}

.middle {
    flex: 1;
    padding-right: 21.5px;
    text-align: center;
    font-weight: bold;
}

.right {
    /* flex: 0 0 1rem; */
    color: #FF7043;
}

div.title > div {
    float: left;
}

div.user-container {
    display: flex;
    padding: 24px;
    border-bottom: 12px solid #E0E0E0;
}

div.user-container .left-side {
    float: left;
    flex: 1;
    align-items: center;
}

.left-side input {
    border: none;
    background-color: #E0E0E0;
    font-weight: bold;
    font-size: .45rem;
    width: 85px;
    outline: none;
    padding: 8px 16px;
}

.left-side ul {
    position: absolute;
    margin-left: 8px;
    z-index: 10000;
}

.left-side li {
    padding: 3px 24px;
    color: #FF7043;
    font-weight: bold;
}

.left-side li:before {
    content: '';
    position: absolute;
    /* top: -12px; */
    left: 0px;
    width: 21px;
    height: 20px;
    background-size: inherit;
    background: url('../images/phone.png') no-repeat;
    border: 1px solid #9E9E9E;
}

.user-head {
    margin: 24px auto;
    width: 80%;
    text-align: center;
}

.form-container > form div {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 8px auto;
    display: flex;
    align-items: center;
}

.form-container > form div input {
    display: block;
    border: none;
    background-color: #EEEEEE;
    flex: 1;
    padding: 12px 8px 12px 8px;
    /*box-sizing: border-box;*/
    outline: none;
    color: rgba(0, 0, 0, .87);
    font-size: .24rem;
    margin-left: 8px;
    border: 1px solid transparent;
}

.form-container > form div input[type='password'] {
    padding-right: 42px;
}

.form-container > form div input:focus {
    border: 1px solid #FF9800;
    background-color: #fff;
}

.form-container input + label {
    width: 25px;
    position: absolute;
    top: 10px;
}

.form-container input + label img {
    width: 100%;
    top: 0;
}

.form-container .eye-check-dark {
    position: absolute;
    right: 13px;
    top: 3px;
    width: 25px;
}

div.eye-check-dark img {
    width: 100%;
}

.form-container .footer.tip {
    color: #F44336;
    text-align: center;
    font-size: .24rem;
}

div.qrcode-container h1 {
    font-size: .26rem;
}

.qrcode-container {
    width: 80%;
    margin: auto;
    margin-top: 24px;
    color: #757575;
}

.qrcode-container .qrcode {
    width: 250px;
    height: 250px;
    margin: auto;
}

.qrcode-container .qrcode img {
    width: 100%;
}

.btn-submit {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 80%;
    margin: 24px auto;
    border: none;
    padding: 12px;
    display: block;
    font-size: .25rem;
    color: #fff;
    background-color: #FF9800;
    box-shadow: 1px 3px 5px -4px #212121;
}